# MISO Data Exchange API Keys
MISO_PRICING_KEY=c59ebd26ec524edfad5a82db8090ae6c
MISO_LGI_KEY=770a008c50a247c991a987a4147ae794

# EIA API Key
EIA_KEY=O7QnxliJ57hfcGcdbyTw26sGNK8c4ysE5ZKfHVpP

# GridStatus API Key
GRIDSTATUS_KEY=6cb11839fd044753a30ff1ca5eefde7a
